.linkbutton{
    margin-right: 1rem;
}

.navbar-light {
    background: #ffffff !important;
}

.specs-image { 
    padding-top: 70px;
}

.spec-list {
    display: flex;
    margin-bottom: 50px;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .list-title{
    color: green;
    font-weight: bold;
 }

 .card-body {
    padding-left: 2%;
    font-weight: bold;
 }

 #cloverlabqr{
    width: 75%;
    margin-top: 10px;
 }

 .clover-lab-container{
    margin-top: 10px;
    margin-bottom: 10px;
 }

 .index-jumbo{
    margin-bottom: 15px;
    color: #20871e;
 }