.linkbutton{
    margin-right: 1rem;
}

.navbar-light {
    background: #ffffff !important;
}

.specs-image { 
    padding-top: 70px;
}

.spec-list {
    display: flex;
    margin-bottom: 50px;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .list-title{
    color: green;
    font-weight: bold;
 }

 .card-body {
    padding-left: 2%;
    font-weight: bold;
 }

 #cloverlabqr{
    width: 60%;
    margin-top: 10px;
 }

 .clover-lab-container{
    margin-top: 10px;
    margin-bottom: 10px;
 }

 .index-jumbo{
    margin-bottom: 15px;
    color: #20871e;
 }

 .accordion-index {
    margin-bottom: 50px;
 }
 
 .accordion {
	--bs-accordion-btn-color: black;
	--bs-accordion-btn-bg: white;
	--bs-accordion-active-color: ghostwhite;
	--bs-accordion-active-bg:#20871e;
    --bs-accordion-btn-focus-box-shadow: none;
    ;
}

.accordion-button {
    font-weight: bold;
}